

<div class="container">
  <div class='card-header'>
    <h2 appChangeColor inputvalue="green">{{pageTitle}}</h2>
  </div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th *ngFor="let header of headers" rowspan="3" >
            {{ header.header}}
      </th>
    </tr>
</thead>

<tbody>
  <tr *ngFor="let product of products">
   <td><img src="{{URL}}/{{product.image}}" [style.width.px]='imageWidth' [style.margin.px]='imageMargin'></td>
            <td><a [title]="product.name + ' product'" [routerLink]="['/product-list', product.id]">
            {{ product.name}}</a></td>
            <td>{{product.price}}</td>
            <td appChangeColor>{{ product.description }}</td>
            <td><a [routerLink]="['/product-list',product.id]">Show</a></td>
            <td><a [routerLink]="['/product-list',product.id]">Edit</a></td>
            <td><a [routerLink]="['/product-list',product.id]">Destroy</a></td>
            
  </tr>
</tbody>
</table>

  
  

